
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  	<%= csrf_meta_tags %>
  	<style type="text/css">
  		.page-break  { display: block; page-break-after: always; }
  		tr { text-align: left; }
  		td { border-bottom: 1px solid #ccc; }
  	</style>
</head>

<body>
	<% @subscriptions.each do |sub| %>
	<div id="a4page">
		<h1>PICK SHEET</h1>
		<h3>Delivery Details</h3>
		<p><%= sub.street %><br />
			<%= sub.town %><br />
			<%= sub.county %><br />
			<%= sub.postcode %>
		</p>

		<p><%= sub.subscription_items.first.recipient1 %> - 
		<%= sub.subscription_items.first.age1 %> - 
		<%= sub.subscription_items.first.gender1 %></p>
		<p><%= sub.subscription_items.first.recipient2 %> - 
		<%= sub.subscription_items.first.age2 %> - 
		<%= sub.subscription_items.first.gender2 %></p>

		<% if !sub.gift_message.blank? %>
			<h4>Gift Message</h4>
			<p><%= sub.gift_message %></p>
		<% else %>
			<p>No Gift Message!</p>
		<% end %>

		<table class="nice" width="99%">
			<thead>
				<tr>
					<th>Item</th>
					<th>Box Number</th>
					<th>Box Name</th>
				</tr>
			</thead>
			<tbody>
				<% sub.subscription_items.each do |item| %>
					<% box_no = ((Date.today.year*12+Date.today.month) - (sub.first_delivery.year*12+sub.first_delivery.month) + 1) %>
					<% next_box = Box.find_by_box_number(box_no) %>
					<tr>
						<td><%= item.product.name %></td>
						<td><strong><%= box_no %></strong></td>
						<td><strong><%= next_box.name %></strong></td>
					</tr>
				<% end %>
			</tbody>	
		</table>

		<h4>Box Items</h4>

		<table class="nice" width="99%">
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
					<th>Picked</th>
				</tr>
			</thead>
			<tbody>
				<% box_no = ((Date.today.year*12+Date.today.month) - (sub.first_delivery.year*12+sub.first_delivery.month) + 1) %>
				<% next_box = Box.find_by_box_number(box_no) %>
				<% next_box.box_contents.each do |con| %>
					<tr>
						<td><%= con.stock_item.name %></td>
						<td><strong><%= con.quantity %></strong></td>
						<td></td>
					</tr>
				<% end %>
			</tbody>	
		</table>

		<p>Picked By: </p>

	</div>
	<div class="page-break"></div>
	<% end %>
</body>

</html>