<div class="row mbottom30">
	
	<div class="eight columns">
		<h2><%= @article.title %></h2>
		<p>Published on <%= @article.created_at.strftime('%d/%m/%Y') %> in <%= link_to @article.article_category.name, articles_category_path(:name => @article.article_category.name) %></p>
		<p>
			<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_pinterest_pinit"></a>
				<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
				<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5074307162f9adf7"></script>
				<!-- AddThis Button END -->
		</p>
		
		<%= image_tag @article.image.to_s if @article.image? %>
		<p>&nbsp;</p>

		<%= raw textilize @article.body %>

		<div class="row mtop30 mbottom30">
			<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_pinterest_pinit"></a>
				<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
				<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5074307162f9adf7"></script>
				<!-- AddThis Button END -->
		</div>
		<div class="row mtop30 mbottom30">
			<div class="four columns">
				<%= link_to("< Latest Articles", article_path(@article.next_article.permalink)) if @article.next_article %>
			</div>
			
			<div class="four columns">
				<%= link_to("Older Articles >", article_path(@article.previous_article.permalink)) if @article.previous_article %>
			</div>
		</div>
		
		<div class="row mbottom30">
			<h4>Comments</h4>
			<% if @comments.empty? %>
				<p>There are no comments for this article. Would you like to add yours?</p>
			<% else %>
				<% @comments.each do |com| %>
					<div class="row mbottom20">
						<div class="two columns">
							<%= com.guest_username.capitalize %> said:
						</div>
						<div class="ten columns">
							<div class="panel">
								<%= com.comment %>
								<p>&nbsp;</p>
								<p class="small">Posted: <%= time_ago_in_words(com.created_at) %> ago</p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
			
			<h5>Add Your Comment</h5>
			<%= form_for(:comment, :url => comments_path(:article_id => @article.id)) do |f| %>
				<%= f.hidden_field :article_id, value: @article.id %>
				<p><%= f.label :guest_username, "Name" %><%= f.text_field :guest_username, class: "input-text", required: true %> </p>
				<p><%= f.label :guest_email, "Email" %><%= f.email_field :guest_email, class: "input-text", required: true %> </p>
				<p><%= f.label :comment, "Your Comment" %> <%= f.text_area :comment, rows: 8, class: "input-text", required: true %></p>
				<p><%= submit_tag "Add Comment", class: "button nice radius small blue" %></p>
			<% end %>
			
			
			
		</div>
		
	</div>
	
	<div class="four columns">
		<%= render "sidebar" %>
	</div>
	
</div>