<div class="row mbottom30">
	<!-- >
	<div class="four columns">
		<h1 class="home-title">Kids Craft Boxes</h1>
		<h2 class="home-title">Receive a craft box, every month, packed with projects for your children.</h2>
		<ul>
			<li>Free Delivery</li>
			<li>For children aged 3 to 7 (and up)</li>
			<li>All craft materials included</li>
			<li>From <strong>&pound;14.99</strong> per month</li>
		</ul>
		<p><%= link_to "Join Today", join_path, class: "button nice radius blue large" %></p>
	</div>
	
	<div class="eight columns">
		<%= image_tag "box-home.jpg", class: "home-image" %>
	</div>
	<-->
	<div class="twelve columns">
		<div id="featured">
			<%= image_tag "home-slide-1.jpg", class: "home-image" %>
			<%= image_tag "home-slide-2.jpg", class: "home-image" %>
			<%= image_tag "home-slide-3.jpg", class: "home-image" %>
		</div>
		<div class="home-overlay four">
			<h1 class="home-title">Kids Craft Boxes</h1>
			<h2 class="home-title">Receive a craft box, every month, packed with projects for your children.</h2>
			<ul>
				<li>Free Delivery</li>
				<li>For children aged 3 to 7 (and up)</li>
				<li>All craft materials included</li>
				<li>From <strong>&pound;14.99</strong> per month</li>
			</ul>
			<p><%= link_to "Join Today", join_path, class: "button nice radius blue large" %></p>
		</div>
	</div>
</div>

<div class="row mbottom30">
	<div class="four columns">
		<div class="home-panel how">
			<h5>How It Works</h5>
			<ul>
				<li>1. Choose plan</li>
				<li>2. Receive craft box <span class="small">(with free delivery)</span></li>
				<li>3. Get creative</li>
				<li><%= link_to "Join Today", join_path, class: "button nice small radius orange" %>
			</ul>
		</div>
	</div>
	
	<div class="four columns">
		<div class="home-panel box">
			<h5>In The Box</h5>
			<p>Each box contains all the craft materials to complete the projects. Just add creativity.</p>
			<p>With, at least, 3 projects in every box, we provide the fun for hours.</p>
		</div>
	</div>
	
	<div class="four columns last-column">
		<div class="home-panel sibling">
			<h5>Sibling Option</h5>
			<p>Our craft box subscription plans come with a sibling option, adding extra craft products into the box so each child gets their own craft materials.<br />
				So, no more arguing over the paints.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
   $(window).load(function() {
       $('#featured').orbit({
			     animation: 'fade',                  // fade, horizontal-slide, vertical-slide, horizontal-push
			     animationSpeed: 1800,
			 		 advanceSpeed: 6000,
			     pauseOnHover: true,
					 startClockOnMouseOut: true,
			     directionalNav: false,
			     fluid: true                         // or set a aspect ratio for content slides (ex: '4x3') 
			});
   });
</script>