<div class="row mbottom30">
	<h4>Subscription Details</h4>
	<p class="small"><%= link_to "<< Back to My Account", account_path %></p>
</div>

<div class="row mbottom30">
	
		<div class="eight columns">
			<div class="panel">
				<div class="row mbottom20">
					<div class="nine columns">
						<strong>Subscription Item</strong>
					</div>
						
					<div class="three columns">
						<strong>Price</strong>
					</div>
				</div>
				<% @subscription.subscription_items.each do |subs| %>
					<div class="row mbottom20">
						<div class="nine columns">
							<%= subs.product.name %> 
							<% if @subscription.status == "Cancelled" %>
								<span class="red-cancel">- Cancelled</span>
							<% end %>
						</div>
						
						<div class="three columns">
								<%= number_to_currency(subs.price) %>
						</div>
					</div>
					<div class="row mbottom20">
						<% if @promo %>
						<div class="nine columns">
							PROMO: <%= @promo.promo_code.details %> 
						</div>
						<div class="three columns">
							<% if @promo.promo_code.promo_type == "percentage" %>
								- <%= number_to_currency(((subs.price / 100) * @promo.promo_code.discount))  %>
							<% else %>
								- <%= number_to_currency(subs.price - @promo.promo_code.discount) %>
							<% end %>
						</div>
						<% end %>
					</div>

				<% end %>
				
				<div class="row mbottom30">
				</div>
				
				<div class="row mbottom30">
					<div class="six columns">
					<h5>Delivery Address</h5>
					<% if @subscription.status == "Cancelled" %>
						<p><%= @subscription.street %><br />
						<%= @subscription.town %><br />
						<%= @subscription.county %><br />
						<%= @subscription.postcode %>
						</p>
					<% else %>
						<p><%= best_in_place @subscription, :street %><br />
						<%= best_in_place @subscription, :town %><br />
						<%= best_in_place @subscription, :county %><br />
						<%= best_in_place @subscription, :postcode %>
						</p>
						<p>To change the delivery address, please click on the address, above, and edit as required.</p>
					<% end %>
					</div>
					<div class="six columns">
						<h5>Recipient(s)</h5>
						<p><%= @subscription.subscription_items.first.recipient1 %></p>
						<p><%= @subscription.subscription_items.first.recipient2 if @subscription.subscription_items.first.recipient2? %></p>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="four columns">
			<div class="panel">
				<h5>Schedule</h5>
				<% if @promo %>
					<% if @promo.promo_code.promo_type == "percentage" %>
						<% price = @subscription.subscription_items.first.price - ((@subscription.subscription_items.first.price / 100) * @promo.promo_code.discount)  %>
					<% else %>
						<% price = @subscription.subscription_items.first.price - @promo.promo_code.discount %>
					<% end %>
				<% else %>
					<% price = @subscription.subscription_items.first.price %>
				<% end %>
				<p>Your subscription is for <%= number_to_currency(price) %> every <%= pluralize(@subscription.subscription_items.first.product.sub_frequency, @subscription.subscription_items.first.product.sub_period) %></p>
				<p>First Payment: <%= @gcsub.start_at.strftime("%d/%m/%Y") %></p>
				<p><% unless @subscription.status == "Cancelled" %> Next Payment: <%= @gcsub.next_interval_start.to_time.strftime("%d/%m/%Y") %> <% end -%></p>
				<% if @subscription.status == "Active" %>
				<p><%= link_to "Cancel Subscription",cancel_subscription_path(:resource_id => @subscription.resource_id) , class: "button nice radius small red", confirm: "Are you sure you want to cancel this subscription?" %></p>
				<% end %>
				<% if @subscription.status == "Cancelled" %>
					<p class="red-cancel">Cancelled</p>
				<% end %>
			</div>
		</div>
		
	
</div>